*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding-top: 1rem;
}

.container h2{
    color: rgb(7, 7, 209);
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
}
.form-input input{
    width: 350px;
    padding: 0.3rem 0.5rem;
    border: none;
    outline: none;
    border-radius: 0;
    border-bottom: 2px solid rgb(7, 7, 209);
}

.form-section{
    padding: 1rem 0;

}

.api-data{
    width: 100%;
    margin-top: 3rem;    
}

span{
    color: red;
    font-size: 14px;
    padding: 5px 0;
}